@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    @apply text-sm;

    color-scheme: light dark;

    @apply text-gray-100;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
    * {
        @apply border-gray-800;
        @apply shrink-0;
    }
    a {
        @apply hover:underline
    }
}

html {
    background-image: url(../shared/ui/4b212ef4289891e8731968ee87df02a7.jpg);
}

body {
    @apply flex flex-col;
    @apply bg-gray-950/90;
}
